.background11 {
  position: absolute;
  top: 479px;
  left: 0px;
  background-color: var(--color-darkslategray);
  width: 1440px;
  height: 2081px;
}
.background22 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkturquoise);
  width: 1440px;
  height: 480px;
}
.starry-sky-background-wwls945h-icon4 {
  position: absolute;
  top: 480px;
  left: 0px;
  width: 1440px;
  height: 2082px;
  object-fit: cover;
}
.banner-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 480px;
  object-fit: cover;
}
.champimage1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-gainsboro-100);
  width: 310px;
  height: 299px;
}
.rivenimage-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  width: 310px;
  height: 299px;
  object-fit: cover;
}
.imagensmatch1 {
  position: absolute;
  top: 113px;
  left: 183px;
  width: 310px;
  height: 299px;
}
.div22 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  width: 1100px;
  height: 320px;
}
.runas-e-feitios1 {
  position: absolute;
  top: 0px;
  left: 20px;
  font-weight: 900;
  display: inline-block;
  width: 315.7px;
  height: 57px;
}
.containerrunasefeiticos-item {
  position: absolute;
  top: 48px;
  left: 692.6px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 315.7px;
  height: 40px;
}
.image-1-icon1 {
  position: absolute;
  top: 41px;
  left: 1px;
  width: 512px;
  height: 276px;
  object-fit: cover;
}
.image-2-icon1 {
  position: absolute;
  top: 41px;
  left: 561px;
  width: 475px;
  height: 74px;
  object-fit: cover;
}
.containerrunasefeiticos1 {
  position: absolute;
  top: 731px;
  left: 159px;
  width: 1100px;
  height: 320px;
}
.div10 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  width: 1100px;
  height: 136px;
}
.containerbuilds-inner {
  position: absolute;
  top: 64px;
  left: 19.9px;
  border-radius: var(--br-5xs);
  width: 91.7px;
  height: 32px;
}
.rectangle-div {
  position: absolute;
  top: 64px;
  left: 132.4px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumslateblue);
  width: 91.7px;
  height: 32px;
}
.builds1 {
  position: absolute;
  top: 12px;
  left: 20.4px;
  font-weight: 900;
  display: inline-block;
  width: 229.2px;
  height: 57px;
}
.image-4-icon1 {
  position: absolute;
  top: 53px;
  left: 11px;
  width: 997px;
  height: 55px;
  object-fit: cover;
}
.containerbuilds1 {
  position: absolute;
  top: 584px;
  left: 158px;
  width: 1100px;
  height: 136px;
}
.abainfos-child1 {
  position: absolute;
  top: 11px;
  left: 0px;
  filter: blur(6.5px);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-300);
  width: 680px;
  height: 72px;
}
.div11 {
  position: absolute;
  top: 32px;
  left: 502px;
  font-size: var(--font-size-21xl);
  font-weight: 900;
  color: var(--color-silver);
  text-shadow:
    1px 0 0 rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3),
    0 -1px 0 rgba(0, 0, 0, 0.3);
}
.div12 {
  position: absolute;
  top: 32px;
  left: 269px;
  font-size: var(--font-size-21xl);
  font-weight: 900;
  color: var(--color-tomato-100);
  text-shadow:
    1px 0 0 rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3),
    0 -1px 0 rgba(0, 0, 0, 0.3);
}
.partidas1 {
  position: absolute;
  top: 0px;
  left: 526px;
  font-weight: 900;
  font-family: var(--font-inknut-antiqua);
  text-shadow:
    1px 0 0 rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3),
    0 -1px 0 rgba(0, 0, 0, 0.3);
}
.win-rate1 {
  position: absolute;
  top: 0px;
  left: 280px;
  font-weight: 900;
  font-family: var(--font-inknut-antiqua);
  text-shadow:
    1px 0 0 rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3),
    0 -1px 0 rgba(0, 0, 0, 0.3);
}
.dificuldade1 {
  position: absolute;
  top: 11px;
  left: calc(50% - 292px);
  font-weight: 900;
  font-family: var(--font-inknut-antiqua);
  display: inline-block;
  width: 137px;
  height: 51px;
  text-shadow: 0px 4px 3.8px #000;
}
.line-div {
  position: absolute;
  top: 10.5px;
  left: 215.5px;
  filter: drop-shadow(0px 4px 10.9px #000);
  border-right: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1px;
  height: 73px;
}
.abainfos-child2 {
  position: absolute;
  top: 10.5px;
  left: 455.5px;
  filter: drop-shadow(0px 4px 10.9px #000);
  border-right: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1px;
  height: 73px;
}
.dificil1 {
  position: absolute;
  top: 47px;
  left: 85px;
  font-weight: 900;
  color: var(--color-red-200);
  text-shadow: 0px 4px 2.8px #000;
}
.abainfos1 {
  position: absolute;
  top: 485px;
  left: 384px;
  width: 680px;
  height: 88px;
  mix-blend-mode: hard-light;
  font-family: var(--font-arial);
}
.itens-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  width: 1098px;
  height: 168px;
}
.itens3 {
  position: absolute;
  top: 6px;
  left: 21px;
  font-weight: 900;
  display: inline-block;
  width: 112px;
  height: 52px;
}
.image-3-icon1 {
  position: absolute;
  top: 58px;
  left: 21px;
  width: 621px;
  height: 101px;
  object-fit: cover;
}
.itens2 {
  position: absolute;
  top: 1308px;
  left: 159px;
  width: 1098px;
  height: 168px;
  font-size: var(--font-size-6xl);
}
.gameplay-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  width: 1098px;
  height: 291px;
}
.gameplay4 {
  position: absolute;
  top: 5.3px;
  left: 19px;
  font-weight: 900;
  display: inline-block;
  width: 148px;
  height: 136.9px;
}
.gameplay3 {
  position: absolute;
  top: 1595px;
  left: 152px;
  width: 1098px;
  height: 291px;
  font-size: var(--font-size-6xl);
}
.resumo-item {
  position: absolute;
  top: 12px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  width: 1098px;
  height: 96px;
}
.resumo3 {
  position: absolute;
  top: 0px;
  left: 21px;
  font-weight: 900;
}
.resumo2 {
  position: absolute;
  top: 1476px;
  left: 159px;
  width: 1098px;
  height: 108px;
  font-size: var(--font-size-6xl);
}
.image-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  width: 1100px;
  height: 504px;
  object-fit: cover;
}
.mecanicas-do-campeao {
  margin: 0;
}
.mecanicas-do-campeao-container {
  position: absolute;
  top: 15.8px;
  left: 5px;
  font-weight: 900;
  display: inline-block;
  width: 239px;
  height: 47.3px;
}
.videogameplay1 {
  position: absolute;
  top: 1897px;
  left: 150px;
  width: 1100px;
  height: 504px;
  font-family: var(--font-inter);
}
.image-icon2 {
  position: absolute;
  top: 30px;
  left: 0px;
  border-radius: var(--br-7xs);
  width: 54px;
  height: 55px;
  object-fit: cover;
}
.image-icon3 {
  position: absolute;
  top: 30px;
  left: 58px;
  border-radius: var(--br-7xs);
  width: 54px;
  height: 55px;
  object-fit: cover;
}
.image-icon4 {
  position: absolute;
  top: 30px;
  left: 116px;
  border-radius: var(--br-7xs);
  width: 54px;
  height: 55px;
  object-fit: cover;
}
.image-icon5 {
  position: absolute;
  top: 30px;
  left: 174px;
  border-radius: var(--br-7xs);
  width: 54px;
  height: 55px;
  object-fit: cover;
}
.image-icon6 {
  position: absolute;
  top: 30px;
  left: 232px;
  border-radius: var(--br-7xs);
  width: 54px;
  height: 55px;
  object-fit: cover;
}
.counters-de-riven {
  position: absolute;
  top: 0px;
  left: 86px;
  font-weight: 900;
  color: var(--color-white);
}
.b {
  position: absolute;
  top: 84px;
  left: 7px;
}
.b1 {
  position: absolute;
  top: 84px;
  left: 65px;
}
.b2 {
  position: absolute;
  top: 84px;
  left: 237px;
  color: var(--color-tomato-200);
}
.b3 {
  position: absolute;
  top: 84px;
  left: 123px;
}
.b4 {
  position: absolute;
  top: 84px;
  left: 179px;
  color: var(--color-tomato-200);
}
.conteinercountersriven {
  position: absolute;
  top: 75px;
  left: 1071px;
  width: 287px;
  height: 107px;
  color: var(--color-red-100);
  font-family: var(--font-arial);
}
.barrapesquisamatch-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-dimgray);
  width: 441px;
  height: 25px;
}
.escolha-a-matchup {
  position: absolute;
  top: 2px;
  left: 12.6px;
  display: inline-block;
  width: 192.2px;
}
.barrapesquisamatch {
  position: absolute;
  top: 152px;
  left: 510px;
  width: 441px;
  height: 25px;
  font-family: var(--font-arial);
}
.containerhabilidades-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-200);
  width: 1100px;
  height: 238px;
}
.habilidades1 {
  position: absolute;
  top: 12.3px;
  left: 20.4px;
  font-weight: 900;
  display: inline-block;
  width: 224.1px;
  height: 58.5px;
}
.passiva4 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
  width: 203.7px;
  height: 24.6px;
}
.passiva21 {
  position: absolute;
  top: 0px;
  left: 224px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 803.6px;
  height: 24.6px;
}
.passiva3 {
  position: absolute;
  top: 57.4px;
  left: 20.4px;
  width: 1027.7px;
  height: 24.6px;
}
.lvl184 {
  position: absolute;
  top: 0px;
  left: 779.2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl174 {
  position: absolute;
  top: 0px;
  left: 733.4px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl164 {
  position: absolute;
  top: 0px;
  left: 687.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl154 {
  position: absolute;
  top: 0px;
  left: 641.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl144 {
  position: absolute;
  top: 0px;
  left: 595.9px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl134 {
  position: absolute;
  top: 0px;
  left: 550px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl124 {
  position: absolute;
  top: 0px;
  left: 504.2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl114 {
  position: absolute;
  top: 0px;
  left: 458.4px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl104 {
  position: absolute;
  top: 0px;
  left: 412.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl094 {
  position: absolute;
  top: 0px;
  left: 366.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl084 {
  position: absolute;
  top: 0px;
  left: 320.9px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl074 {
  position: absolute;
  top: 0px;
  left: 275px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl064 {
  position: absolute;
  top: 0px;
  left: 229.2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl054 {
  position: absolute;
  top: 0px;
  left: 183.4px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl044 {
  position: absolute;
  top: 0px;
  left: 137.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl034 {
  position: absolute;
  top: 0px;
  left: 91.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl024 {
  position: absolute;
  top: 0px;
  left: 45.9px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl014 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.leveis4 {
  position: absolute;
  top: 0px;
  left: 224px;
  width: 803.6px;
  height: 24.6px;
}
.q2 {
  position: absolute;
  top: 90.3px;
  left: 20.4px;
  width: 1027.7px;
  height: 24.6px;
}
.w3 {
  position: absolute;
  top: 0.1px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
  width: 203.7px;
  height: 24.6px;
}
.lvl185 {
  position: absolute;
  top: 0px;
  left: 779.2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl175 {
  position: absolute;
  top: 0px;
  left: 733.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl155 {
  position: absolute;
  top: 0px;
  left: 641.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl145 {
  position: absolute;
  top: 0px;
  left: 595.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl135 {
  position: absolute;
  top: 0px;
  left: 550px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl115 {
  position: absolute;
  top: 0px;
  left: 458.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl095 {
  position: absolute;
  top: 0px;
  left: 366.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl085 {
  position: absolute;
  top: 0px;
  left: 320.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl075 {
  position: absolute;
  top: 0px;
  left: 275px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl055 {
  position: absolute;
  top: 0px;
  left: 183.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl045 {
  position: absolute;
  top: 0px;
  left: 137.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl025 {
  position: absolute;
  top: 0px;
  left: 45.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl015 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.leveis5 {
  position: absolute;
  top: 0px;
  left: 223.6px;
  width: 803.6px;
  height: 24.6px;
}
.w2 {
  position: absolute;
  top: 123px;
  left: 20.4px;
  width: 1027.2px;
  height: 24.7px;
}
.lvl176 {
  position: absolute;
  top: 0px;
  left: 733.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl146 {
  position: absolute;
  top: 0px;
  left: 595.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.lvl126 {
  position: absolute;
  top: 0px;
  left: 504.2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl106 {
  position: absolute;
  top: 0px;
  left: 412.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl086 {
  position: absolute;
  top: 0px;
  left: 320.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl036 {
  position: absolute;
  top: 0px;
  left: 91.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl026 {
  position: absolute;
  top: 0px;
  left: 45.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 24.4px;
  height: 24.6px;
}
.leveis6 {
  position: absolute;
  top: 0.1px;
  left: 223.6px;
  width: 803.6px;
  height: 24.6px;
}
.e2 {
  position: absolute;
  top: 155.9px;
  left: 20.4px;
  width: 1027.2px;
  height: 24.7px;
}
.r3 {
  position: absolute;
  top: 0.8px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
  width: 203.7px;
  height: 24.6px;
}
.lvl167 {
  position: absolute;
  top: 0px;
  left: 687.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl117 {
  position: absolute;
  top: 0px;
  left: 458.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.lvl067 {
  position: absolute;
  top: 0px;
  left: 229.2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumblue);
  width: 24.4px;
  height: 24.6px;
}
.r2 {
  position: absolute;
  top: 188px;
  left: 20.4px;
  width: 1027.2px;
  height: 25.4px;
}
.containerhabilidades1 {
  position: absolute;
  top: 1063px;
  left: 157px;
  width: 1100px;
  height: 238px;
}
.header7 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px var(--br-lg) var(--br-lg);
  background-color: var(--color-black);
  width: 1440px;
  height: 56px;
}
.barrapesquisar3 {
  position: absolute;
  top: 16px;
  left: 455px;
  border-radius: var(--br-base);
  background-color: var(--color-dimgray);
  width: 530px;
  height: 24px;
}
.buscar-campeao-ou2 {
  position: absolute;
  top: 18px;
  left: 463px;
}
.header6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 56px;
  font-size: var(--font-size-mini);
  font-family: var(--font-arial);
}
.starry-sky-background-wwls945h-icon5 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px var(--br-lg) var(--br-lg);
  width: 1440px;
  height: 57px;
  object-fit: cover;
  display: none;
}
.telachamp {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2561px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inknut-antiqua);
}
